@model MVC1.Models.ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>

            @if (Model.ShowRequestId) {
                <p>
                    <strong>ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <p>Description: @Model.Description</p>

        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
